<div class="container"> 
        <div class="left">
                <img src="/assets/img/imagenPerfil.jpeg" alt="imagen quien soy">
        </div>
        <div class="center">
            <h1>Quien soy</h1>
            <p>Me llamo Fernando Orellano y soy alumno de la tecnicatura superior en Analisis de Sistenas.</p>
            <p>Este es un proyecto para la materia  Algoritmos y estructuras 
             de datos 3.</p>
        </div>
        <div class="right">
            <h1>Juego a desarrollar</h1>
            <p>Explicacion de juego a desarrollar</p>
            <a routerLink="/" class="btn btn-primary">Ir a mi Juego</a>
        </div> 
    </div>