<div class="container"> 
    <div class="left">
        <img src="/assets/img/imagenPerfil.jpeg" alt="imagen quien soy">
    </div>
    <div class="center">
        <h2>Quien soy</h2>
        <p>Me llamo Fernando Orellano y soy alumno de la tecnicatura superior en Analisis de 
            Sistenas.</p>
        <p>Este es un proyecto para la materia  Algoritmos y estructuras 
            de datos 3.</p>
    </div>
    <div class="right">
        <h2>Mi Juego</h2>
        <img class="primerImg" src="../../../assets/img/1er vista.png" routerLink="/juegos/mijuego" title="Ir al juego">
        
        <p class="primerParr">Descubri la mayor cantidad de valores '0' dentro de
            la cuadricula
        </p>
        <img class="segundaImg" src="../../../assets/img/2da vista.png" routerLink="/juegos/mijuego" title="Ir al juego">
        <p class="segundoParr">Proba tu suerte e intenta ganar juntando la mayor cantidad de
            valores '0', pero cuidado con toparte con el valor oculto!
        </p>
        <img class="tercerImg" src="../../../assets/img/3er vista.png" routerLink="/juegos/mijuego" title="Ir al juego">
        <p class="tercerParr">Elegi entre un conjunto de numeros y proba tu sabiduria
        </p>
        <p class="cuartoParr">No esperes mas! <a routerLink="/juegos/mijuego">Juga</a> y divertite</p>
    </div> 
</div>